<% provide(:title, @user.name) %>
<div class="center hero-unit">
<div class="row">
  <aside class="span4">
    <section>
      <h3>
        <%= gravatar_for @user %>
      </h3><br/>
      <%= @user.name %>
    </section>
  </aside>
</div>
</div>